a{
    color:  #11999E;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #FAF8F1;
    margin: 0;
    line-height: 2;
}
h1{
    margin:0px auto 0px;
    font-family: 'Corinthia', cursive;
    font-size: 100px;
    color: #66BFBF;
}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    margin:0 auto 0 auto;
}
h3{
    color:  #11999E;
}
hr{
    border-color: #879191;
    border-width: 5px;
    border-style: dotted none none none;
    height: 0px;
    width: 4%;
    margin:1.5rem auto;
}
.run{
    margin: 4rem auto 0px auto;
}
.intro{
    width:40%;
    margin: 0 auto 2rem auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 150;
}
.contact-p{
    font-family: 'Roboto Slab', serif;
    font-weight: 150;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.copyrights{
    color: #EAF6F6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.7em;
    font-family: 'Merriweather', serif;
}
.web{
    text-decoration: underline;
    display: inline-block;
}
.footer-link{
    padding:1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: medium;
}
.footer-link:hover{
    color: #EAF6F6;
}
/****************************************************containers*/
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: #f5f3f1;
    padding: 2rem;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 2rem;;
}
.contact-me{
    padding-bottom:3rem;
    padding-top: 1rem;
}
/****************************************************images*/
.top-cloud{
    position: absolute;
    right: 300px;
    top:100px;
}
.bottom-cloud{
    position: absolute;
    left:250px;
    top:300px;
}
.coding{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.running{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile-dp{
    width: 15%;
    margin-top: 2rem;
    margin-bottom :0;
}
/*****************************************************skills*/
.skill-row{
    width: 50%;
    margin: 2rem auto;
    text-align: left;
}
.skills-description1{
    font-family: 'Roboto Slab', serif;
    font-weight: 150;
    margin: 1rem auto;
    padding:2rem auto;
}
.skills-description2{
    font-family: 'Roboto Slab', serif;
    font-weight: 150;
    margin: 1rem auto;
    padding:2rem auto;
}
/**********************************************button*/
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1d70a3;
    text-decoration: none;
  }
